.App.container{
    width: 100vw;
    height: 92vh;
}

.Home.table{
    width: 100%;
    height: 100%;
    text-align: center;
}

.Home td{
    width: 20%;
    height: 20%;
    border: none;
}

.Home td.content{
    height: 60%;
    background-color: skyblue;
    font-size: 30px;
    font-weight: bold;
    color:white;
    vertical-align: middle;
    border-radius: 5%;
}